<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="logo">
                <img src="assets/companylogo.jpg" alt="">
            </div>
        </div>
        <div class="col-md-5" style="margin:auto">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
        </div>
        <div class="col-md-4" style="margin:auto">
            <!-- <div class="menuitem" style="margin:auto">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Seller</a></li>
                    <li><a href="">LogIn</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div> -->
            <div class="menu" style="justify-content: center;">
                <h5 class="item" routerLink="/home">Home</h5>
                <h5 class="item" routerLink="/seller-auth">Seller</h5>
                <h5 class="item"> login</h5>
                <h5 class="item"> Cart(0)</h5>
            </div>
        </div>
    </div>
</div>