<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="logo">
                <a routerLink="/home"><img src="assets/companylogo.jpg" alt=""></a>
            </div>
        </div>

        <div class="col-md-5" style="margin:auto">
            <div *ngIf="menuType==='default'">

                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-group mb-3">
                            <input type="text" #serchdat class="form-control" (keyup)="getProductSerch($event)"
                                (blur)="hideserch()" placeholder="Search">
                            <button class="btn btn-outline-success" type="button" (click)="serchdata(serchdat.value)">
                                Button
                            </button>
                        </div>


                        <div class="serchsuggestion" *ngIf="productserch">
                            <div *ngFor="let item of productserch" style="width: 100%;padding: 5px;">
                                <i style="color:rgb(248, 107, 67)" class="fa-solid fa-magnifying-glass"></i>
                                <span (mousedown)="suggestionSerch(item.id)">{{item.pname}}</span>
                            </div>
                        </div>
                        <!-- <ul class="serchsuggestion">
                    <li *ngFor="let item of productserch">
                        <a>{{item.pname}}</a>
                    </li>
                </ul> -->
                    </form>
            </div>
        </div>
        <div class="col-md-4" style="margin:auto">
            <!-- <div class="menuitem" style="margin:auto">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Seller</a></li>
                    <li><a href="">LogIn</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div> -->
            <div [ngSwitch]="menuType">
                <div *ngSwitchCase="'default'">
                    <div class="menu" style="justify-content: center;">
                        <h5 class="item" routerLink="/home">Home</h5>
                        <h5 class="item" routerLink="/seller-auth">Seller</h5>
                        <h5 class="item" routerLink="/user-auth"> login/SignUp</h5>
                        <h5 class="item"> Cart(0)</h5>
                    </div>
                </div>
                <div *ngSwitchCase="'users'">
                    <div class="menu" style="justify-content: center;">
                        <h5 class="item" routerLink="/home">Home</h5>
                        <h5 class="item" routerLink="/seller-auth">Seller</h5>
                        <h5 class="item" (click)="logout()"> logout</h5>
                        <h5 class="item"> Cart(0)</h5>
                    </div>
                </div>
                <div *ngSwitchCase="'seller'">
                    <div class="menu" style="justify-content: center;">

                        <h5 class="item" routerLink="/seller-add-product">AddProduct</h5>
                        <h5 class="item" routerLink="seller-home">Product</h5>
                        <h5 class="item" (click)="logoutSeller()"> logout</h5>
                        <h5 class="item">SellerName</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>