<footer class="bg-dark text-center text-white mb-5">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <label class="float-start">
                Contact Email:
                <span style="color:rgb(229, 86, 46)">support@myshop.com</span>
            </label>
            <label class="float-end">
                Phone Number:
                <span style="color:rgb(229, 86, 46)">8369374307</span>
            </label><br><br>
            <p>MyShop is an e-commerce platform customized B2C and B2B webshops, open-closed source SaaS platform, scalability, multi-store, multiple web stores, agile, room for new insights, extensive app store, provides, internet checkout, startup, easy to integrate into an existing website, professional, business to business, enterprise, plus ideal, bancontact/mister cash and giro pay, customization, tailored to large product numbers, secure and reliable hosting, provide search engine optimization (SEO)</p>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Terms of Service | Privacy Policy | Sitemap | © 2022 Crunchbase Inc. All Rights Reserved.<br><br>
        @copyright:<a class="text-white" href="http://MyShop.com"> Rahul Mishra</a>
    </div>
    <!-- Copyright -->
</footer>