img{
    margin: auto;
    object-fit: contain;
    overflow: auto;
    width: 100%;
    height: auto;
}
.card img{
    height: auto;
}
.custom{
    background-color: rgb(230, 66, 40);
}
a{
    text-decoration: none;
    color:white;
}